.toolbar {
    gap: 30px;
}

.auth-buttons-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}